$black: #000000 !important;
$white: #ffffff !important;
$grey: #4F5665 !important;

@mixin text-global {
    margin: 0;
    text-decoration: none;
}

.text-sm {
    @include text-global;
    font-size: 14px;
}

.text-md {
    @include text-global;
    font-size: 16px;
}

.text-l {
    @include text-global;
    font-size: 18px;
}

.text-xl {
    @include text-global;
    font-size: 20px;
}

.text-2xl {
    @include text-global;
    font-size: 24px;
}

.text-3xl {
    @include text-global;
    font-size: 25px;
}

.text-4xl {
    @include text-global;
    font-size: 27px;
}

.text-5xl {
    @include text-global;
    font-size: 35px;
}

.text-6xl {
    @include text-global;
    font-size: 50px;
}

.text-sm-grey {
    @extend .text-sm;
    color: $grey;
}

.text-md-black {
    @extend .text-md;
    color: $black;
}

.text-md-black-700 {
    @extend .text-md;
    color: $black;
    font-weight: 700;
}

.text-md-grey {
    @extend .text-md;
    color: $grey;
}

.text-md-black-underline {
    @extend .text-md;
    color: $black;
    text-decoration: underline;
}

.text-md-white-700 {
    @extend .text-md;
    color: $white;
    font-weight: 700;
}

.text-md-grey-special {
    @extend .text-md;
    color: #AFB5C0 !important;
    font-weight: 400;
}

.text-l-black-500 {
    @extend .text-l;
    color: $black;
    font-weight: 500;
}

.text-xl-grey-500 {
    @extend .text-xl;
    color: $grey;
}

.text-xl-black-700 {
    @extend .text-xl;
    color: $black;
    font-weight: 700;
}

.text-xl-black-500 {
    @extend .text-xl;
    color: $black;
    font-weight: 500;
}

.text-2xl-black-700 {
    @extend .text-2xl;
    color: $black;
    font-weight: 700;
}

.text-3xl-black-700 {
    @extend .text-3xl;
    color: $black;
    font-weight: 700;
}

.text-4xl-white {
    @extend .text-4xl;
    color: $white;
}

.text-4xl-black-700 {
    @extend .text-4xl;
    color: $black;
    font-weight: 700;
}

.text-5xl-black-500 {
    @extend .text-5xl;
    color: $black;
    font-weight: 500;
}

.text-6xl-white-700 {
    @extend .text-6xl;
    color: $white;
    font-weight: 700;
}