.index-page-first-section {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./bomb.jpeg");
  background-position: center;
  padding-top: 66.3%;
  position: relative;
}

.index-page-first-section-social-media-links {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.first-section-social-media-link {
  width: 5rem;
  height: 1.75rem;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #F53838;
  border-radius: 9999px;
  cursor: pointer;
}

.index-page-first-section-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-page-first-section-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.first-section-buttons-text-container {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  color: #ffffff;
}

.first-section-header-text {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
}

.first-section-subheader-text {
  font-size: 27px;
  margin-top: 0.5vw;
  margin-bottom: 0;
  color: #ffffff;
}

.first-section-about-button {
  color: #ffffff;
  width: 10vw;
  aspect-ratio: 6/2;
  border-radius: 10px;
  border: 0;
  background-color: #F53838;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;

  &:hover {
    background-color: #f06060;
  }
}

.first-section-transparent-button {
  color: #ffffff;
  width: 15vw;
  aspect-ratio: 13/3;
  border-radius: 10px;
  border: 3px solid #F53838;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;

  &:hover {
    background-color: #F53838;
  }
}

.first-section-info-block {
  margin-top: 4vw;
  height: 12vw;
  width: 100%;
  background-color: #ffffff;
  border-width: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1vw;
  gap: 1vw;
}

.first-section-info-block-box {
  display: flex;
  height: min-content;
  align-items: center;
  gap: 2vw;
}

.first-section-info-block-boxes-for-text {
  display: flex;
  gap: 0.25vw;
  flex-direction: column;
}

.first-section-info-block-boxes-text {
  color: #4F5665;
  font-size: 20px;
  margin: 0;
}

.first-section-info-block-boxes-text-bold {
  color: #0B132A;
  font-size: 20px;
  margin: 0;
  font-weight: 700;
}

.first-section-info-block-boxes-text-bold-extra-size {
  color: #0B132A;
  font-size: 25px;
  margin: 0;
  font-weight: 700;
}

.vertical-rule-grey-60 {
  height: 60%;
  background-color: #EEEFF2;
  width: 2px;
}

.index-page-second-section {
  padding-top: 4vw;
  padding-bottom: 4vw;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-page-second-section-box {
  width: 86%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.second-section-image {
  width: 50%;
  aspect-ratio: 618/385;
  border-radius: 17px;
  background-color: #D9D9D9;
}

.second-section-text-box {
  width:  33%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.second-section-text-bold-extra-light-size {
  font-size: 14px;
  margin: 0;
  color: #4F5665;
}

.second-section-box-for-services {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.box-for-text-with-check-marks {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.second-section-button {
  width: 100%;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  aspect-ratio: 35/6;
  background: linear-gradient(135deg, rgba(211, 61, 46, 1) 0%, rgba(247, 209, 71, 1) 100%);

  &:hover {
    background: rgb(229, 135, 59);
  }
}

.index-page-third-section {
  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.index-page-third-section-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.index-page-third-section-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
  gap: 0.5rem;
}

.third-section-carousel-box {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.third-section-carousel {
  height: 100%;
  width: 100%;
}

.third-section-certificates-box {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.third-section-certificate {
  background: #D9D9D9;
  border-radius: 23px;
  width: 25vw;
  aspect-ratio: 38/53;
}

.third-section-certificates-tabs-box {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.third-section-certificates-tab {
  width: 1rem;
  aspect-ratio: 1/1;
  height: auto;
  background: linear-gradient(135deg, rgba(211, 61, 46, 1) 0%, rgba(247,209,71, 1) 100%);
  border-radius: 9999px;
}

.third-section-certificates-tab-empty {
  width: 1rem;
  aspect-ratio: 1/1;
  height: auto;
  background: #D9D9D9;
  border-radius: 9999px;

  &:hover {
    background: #bbbbbb;
  }
}

.index-page-fourth-section {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.index-page-fourth-section-box {
  gap: 3vw;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.fourth-section-text-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
  gap: 2rem;
}

.index-page-fifth-section {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.index-page-fifth-section-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem
}

.fifth-section-goals-container {
  display: grid;
  width: 80%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-content: space-around;
}

.fifth-section-goal {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20vw;
}

.font-27-px {
  font-size: 27px;
}

.font-24-px {
  font-size: 24px;
}

.font-20-px {
  font-size: 20px;
  margin: 0;
}

.index-page-sixth-section {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.sixth-section-partners-list {
  width: 100%;
  height: 8rem;
  display: flex;
  gap: 5vw;
  position: relative;
  overflow: hidden;
}

.svg-overflow-from-screen {
  overflow: visible;
}

.sixth-section-partners-list-fade-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(circle, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
}

.index-page-seventh-section {
  padding-top: 5rem;
  padding-bottom: 5vw;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.seventh-section-scroll-box {
  display: flex;
  overflow-x: scroll;
  gap: 2vw;
  width: 100%;
}

.seventh-section-list-media-publications-box-start {
  display: flex;
  gap: 2vw;
  justify-content: end;
  padding-left: 10vw;
  width: 98vw;
}

.seventh-section-list-media-publications-box {
  display: flex;
  gap: 2vw;
  width: 88vw;
}

.seventh-section-list-media-publications-box-end {
  display: flex;
  justify-content: start;
  gap: 2vw;
  padding-right: 10vw;
  min-width: 98vw;
}

.seventh-section-list-media-publication {
  width: 28vw;
  border: 2px solid #C9C9C9;
  border-radius: 10px;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  cursor: pointer;

  &:hover {
    border: 2px solid #F53838;
  }
}

.seventh-section-list-media-publication-image {
  background: #D9D9D9;
  border-radius: 15px;
  width: 100%;
  aspect-ratio: 17/12;
}

.seventh-section-controls-box {
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 1rem;
  width: 80vw;
}

.seventh-section-tabs-box {
  display: flex;
  gap: 1vw;
}

.seventh-section-tab {
  height: 15px;
  aspect-ratio: 1/1;
  border-radius: 9999px;
  background: #DDE0E4;

  &:hover {
    background: #bbbbbb;
  }
}

.seventh-section-tab-active {
  height: 15px;
  aspect-ratio: 3/1;
  border-radius: 9999px;
  background: #F53838;
}

.seventh-section-arrows-box {
  display: flex;
  gap: 1vw;
  height: 100%;
}

.seventh-section-arrow-180-rotate {
  transform: rotate(180deg);
}

.contact-us-container {
  position: relative;
  margin-top: 2vw;
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
}

.contact-us {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 113/16;
  width: 100%;
  box-shadow: 0px 0px 2cm #C9C9C9;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  align-items: center;
  padding-right: 5vw;
  padding-left: 5vw;
  justify-content: space-between;
}

.contact-us-text-box {
  gap: 0.5vw;
  display: flex;
  flex-direction: column;
}

.contact-us-button {
  background-color: #F53838;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 700;
  border-radius: 10px;
  border: 0;
  box-shadow: 0px 0px 2vw #F53838;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;

  &:hover {
    background-color: #f06060;
  }
}